/*stylesheet for etch a sketch, in projects sections */

#containerSketch {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: white;
    width: 450px;
    margin: 0 auto;
    border: solid 10px #f9004d;
    border-radius: 15px;

}

.square {
    width: 100%;
    height: 100%;
    padding-top: 100%;
}

.drawn {
    background-color: black;
}
.sketchButtons {
    display: flex;
    justify-content:space-around;
}
.sketchButtons button{
    background-color: #f9004d;
    font-family: "Poppins";
    color: white;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
}

.sketchButtons button:hover{
    opacity: 0.75;
}

.clicktodraw p {
    margin-top: 5px;
    color: rgba(122,122,122);
}