/* stylesheet for NavBar */

@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeInOpacity 0.75s forwards; 
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1020;  /* Adjust this value as needed */
}