/* stylesheet for social media banner */

.socialMediaIcons{
    display: flex;
    scale: 0.6;
}

.socialMediaIcons a{
    margin:8px;
    line-height: 1; 
}

.socialMediaIcons a:hover{
    background-color: #f9004d;
}