/*stylesheet for testimonials slider */


.carousel-item h3{
    font-family: "Poppins";
}
.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    top:50%;
    transform: translateY(-50%);
    bottom: auto;
    position: absolute;

}

.carousel-caption img {
    width: 60px;  /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    display: block;
}



.carousel-control-next-icon, .carousel-control-prev-icon {
    visibility: hidden;
}

.carousel-indicators {
    visibility: hidden;
}