/*stylesheet for etch a sketch, in projects sections */

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: white;
    width: 400px;
    margin: 0 auto;
}

.square {
    width: 100%;
    height: 100%;
    padding-top: 100%;
}

.drawn {
    background-color: black;
}

button {
    background-color: rgba(122,122,122);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}