/* stylesheet for rock paper scissors game */


#containerRps button {
    scale: 50%;
    margin: auto;
    transition: 0.5s ease-out;
}

#containerRps button:hover{
    scale: 60%;
}

#containerRps {
    margin-top: 26px ;
    display: flex;
    justify-content: space-around;
}

span {
    padding-top: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rematch {
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}