/*stylesheet for testimonials slider */

.carousel {
    width: auto;
}

.carousel-item {
    align-items: center;
}

.carousel-item h3{
    font-family: "Poppins";
}
.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    visibility: hidden;
}

.carousel-indicators {
    visibility: hidden;
}