/* stylesheet for projects section */

.projectContainer {
    background-color: rgb(9, 9, 9);
    padding-top: 40px;
    text-align: center;
}

.projectContainer h2 {
    padding: 7px;
    color: rgb(122, 122, 122);
    font-size: 48px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, #f9004d 10%, hsl(0, 0%, 30%) 20%);
    background-size: 200% 100%; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
}


.projectContainer h4 {
    font-size: 36px;
    transition: 0.5s ease-out;
}

.projectContainer h4:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
    letter-spacing: 3px;
}

.projectRow {
  opacity: 0;
  transform: translateY(-50px);
  margin-top: 80px;
}




@keyframes shine {
    0% {
      background-position: 100% 0;
    }
    60% {
      background-position: -100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  @keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideFadeInEffect {
    animation: slideFadeIn 2s forwards;
}