/*this stylesheet contains defaul styles to be used in application */
@font-face {
  font-family: 'BERLIN';  
  src: url('/public/fonts/Berlin-Bold.woff2') format('woff2'),
       url('/public/fonts/Berlin-Bold.woff') format('woff');
  font-family: 'BERLINXTRA';  
  src: url('/public/fonts/Berlin-ExtraBold.woff2') format('woff2'),
       url('/public/fonts/Berlin-ExtraBold.woff') format('woff');
}


html {
  scroll-behavior: smooth;
}

p{
  font-family: "Roboto";
  color: white;
}
h1, h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  background-color: black;
}

h1{
  font-family: "BERLINXTRA";
  font-size: 96px;
}
h2{
  color:white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 36px;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}


